<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <title></title>
</head>

<body>
  <!--- Display my next scrape if the hide_me is True -->
  <div class="jumbotron">
    <h1>Welcome to your dashboard</h1>
    {% if hide_me == True %}
    <p>Your next scrape is in {{ next_scrape }} hours.</p>
    {% else %}
    <form action="{% url 'scrape' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Grab my news</button>
    </form>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 text-center">
        {% for object in object_list %}
        <div class="card text-center" style="width: 100%;">
          <div class="card-body">
            <img src="{{ object.image.url }}" class="card-img-top">
            <h5 class="card-title"><a href="{{ object.url }}">{{ object.title }}</a></h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>

</html>